.contrast-sb-dark-bg-light, .contrast-sb-dark-bg-dark, .contrast-sb-light-bg-light, .contrast-sb-light-bg-dark { font-size: 16px; } h1, h2, h3, h4, h5, h6, .main-navigation .primary-menu-container .menu a, .portfolio-template-single .post-navigation .nav-links a, .entry-quote blockquote, .profile-lead { font-family: Crete Round, serif; } body { font-family: Droid Sans, sans-serif; } ::selection { background-color: #f46161; } 
	.posted-on a:hover,
	.byline a:hover,
	.cat-links a:hover,
	.tags-links a:hover,
	.comments-link a:hover,
	.more-link:hover,
	.format-link .entry-link,
	.hentry .edit-link a:hover,
	.post-format-link:link,
	.post-format-link:visited,
	.post-thumb,
	.entry-quote,
	.profile-lead,
	.main-navigation .widget-area .tagcloud a:hover,
	.comments-area .edit-link a:hover,
	.comment-reply-link:hover,
	.portfolio-template-single .project-link a:hover,
	.portfolio-template-single .external-link a:hover,
	button:hover,
	input[type="button"]:hover,
	input[type="reset"]:hover,
	input[type="submit"]:hover { background-color: #f46161; } .posted-on a:hover,
	.byline a:hover, 
	.cat-links a:hover,
	.tags-links a:hover,
	.comments-link a:hover,
	.more-link,
	.portfolio-item .entry-header:after,
	.gallery-item a:after,
	.portfolio-template-single .project-link a:hover,
	.portfolio-template-single .external-link a:hover,
	.share-post .share-link a:hover:after,
	.comments-area .edit-link a:hover,
	.hentry .edit-link a:hover,
	.comment-reply-link:hover { border-color: #f46161; } a,
	a:visited,
	.entry-title a:hover,
	.site-header .header-social-icons a:hover,
	.mobile-nav-btn:before,
	.more-link, 
	.main-navigation a:hover,
	.main-navigation.icons .primary-menu-container .menu-item:hover:before,
	.main-navigation.icons .primary-menu-container .current-menu-item:before,
	.main-navigation.icons .primary-menu-container .menu-item.current-menu-item:before,
	.main-navigation.icons .widget:hover:before,
	.portfolio-item .entry-header:after,
	.is-loading:before,
	.gallery-item a:after,
	.share-post .share-link a:hover,
	.share-post .share-link a:hover:before,
	.comment-meta .comment-metadata a:hover,
	.profile-header .profile-icons a:hover,
	.site-footer a:hover { color: #f46161; } 